<% include partials/header %>

<h1>Results Page</h1>

<% data.Search.forEach((movie) => { %>
    <ul>
        <li>
           <img src="<%= movie.Poster %>">
            <%= movie.Title; %>
            <%= movie.Year; %>
        </li>
    </ul>
<% }); %>

<% include partials/footer %>